body {
    background-color: #f9f9eb;
}

#y12 {
    padding: 10px;
}

header {
   border: ridge;
   border-width: thick;
   position: relative;
   bottom: 150px;
}

header > h1 {
    text-align: center;
}

header > h2 {
    text-align: center;
}

article {
    border: solid blueviolet;
}

section {
    border: solid seagreen;
}