body {
    background-color: #f9f9eb;
}

header {
   border: ridge;
   border-width: thick; 
}

header > h1 {
    border: solid;
    border-width: thin;
    word-wrap: normal;
    margin-top: auto;
    overflow: auto;
}

#y12 {
    float: left;
}

header > h2 {
    border: solid;
    border-width: thin;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

article {
    border: solid blueviolet;
}

section {
    border: solid seagreen;
}